<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Resenha Cultural</title>
        <link href="~/css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="~/css/estilo.css" type="text/css">
    </head>
    <body>

        @Html.Partial("_Cabecalho")
        
        <div class="container clearfix">

            <main>
                @RenderBody()
            </main>

            @Html.Partial("_Lateral")
        </div>

        @Html.Partial("_Rodape")

        @Html.Partial("_Scripts")
        
    </body>
</html>