<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Resenha Cultural</title>
        <link href="~/css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/estilo.css" type="text/css" />
    </head>
    <body>

        @Html.Partial("_Cabecalho")
        
        <div class="container clearfix">

            <main>
                @RenderBody()
            </main>

            @Html.Partial("_Lateral")
        </div>

        @Html.Partial("_Rodape")

        @RenderSection("Scripts", false)
    </body>
</html>